#itemPanel_2{
    background-color: rgb(237,237,237);
    height:360px;
}
#itemPanel_2 .container_1{
    top:30%;
}
#itemPanel_2 .container_2{
     top:35%;
 }
#itemPanel_2 div{
    width:100%;
    text-align: center;
    position: relative;
}
#itemPanel_2 p{
    font-size:53.59px;
    font-family:黑体;
    color: rgb(161,161,161);
}