.container{
    background-color: #eee;
    border:1px solid #999;
    padding:20px 20px;
    overflow: hidden;
}
.container div{
    background-color: white;
    border:1px solid black;
}
#left{
    width:200px;
    float: left;
    padding:20px;
    display: inline-block;
}
#left p{
    float: right;
    margin: 0;
}
#center{
    margin:0 140px 0 260px;
    padding:20px;
}
#right{
    width:120px;
    float: right;
    padding-bottom:20px;
}
#right img{
    margin: 20px;
    margin-bottom: 0;
}

