#itemPanel_5{
    margin-top:10px;
    position: relative;
    overflow: hidden;
    max-height:840px;
}
#itemPanel_5 img{
    width:100%;
    display: block;
    /*position: absolute;*/
}
#itemPanel_5 .container_1,#itemPanel_5 .container_2{
    position: absolute;

}
#itemPanel_5 .container_1{
    width:60%;
    height:100%;
    top:0;
}
#itemPanel_5 .container_1 .itemContainer{
    /*width:60%;*/
    height:380px;
    top:50%;
    margin-top:-190px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    /*margin:0 auto;*/
}
#itemPanel_5 .container_1 .itemContainer div:first-child p:first-child{
    font-size:49.37px;
    margin:0;
}
#itemPanel_5 .container_1 .itemContainer div:first-child p:last-child{
    font-size:157px;
    margin:0;
}
#itemPanel_5 .container_1 .itemContainer div:last-child {
    font-size: 21.91px;
    margin-top:20px;
}
#itemPanel_5 .container_2{
    /*float: right;*/
    width:40%;
    background-color: #FFFFFF;
    height:100%;
    top:0;
    right:0;
    /*padding-top:5%;*/
}
#itemPanel_5 .container_2 .image{
    height:0;
    width:0;
    border-top:15px solid transparent;
    border-bottom:15px solid transparent;
    border-right:30px solid #FFFFFF;
    position: relative;
    right:30px;
    top:50%;
    margin-top:-15px;
}