#box{
    background-color: #ccc;
    width:400px;
    height:200px;
    position: relative;
    /*margin:0 auto;*/
    top:50%;
    left:50%;
    margin-left: -200px;
    margin-top: -100px;
}
#container{
    float: left;
    border: 1px solid black;
    height:100%;
    position: absolute;
    width:70%;
    margin-bottom: -100px;
}