#box{
    background-color: #ccc;
    width:400px;
    height:200px;
    position: relative;
    /*margin:0 auto;*/
    top:50%;
    left:50%;
    margin-left: -200px;
    margin-top: -100px;
    overflow: hidden;
}
#container{
    float: left;
    border: 1px solid black;
    height:100%;
    position: absolute;
    width:70%;
    margin-bottom: -100px;
}
#c{
    background-color: orangered;
    width:100px;
    height:100px;
    position: relative;
    top:-50px;
    left:-50px;
    border-radius: 100px;
}
#d{
    background-color: orangered;
    width: 100px;
    height: 100px;
    position: relative;
    left: 350px;
    bottom: -50px;
    border-radius: 100px;
}