#itemPanel_5{
    margin-top:10px;
    position: relative;
    overflow: hidden;
}
#itemPanel_5 img{
    width:100%;
    /*position: absolute;*/
}
#itemPanel_5 .container_1,#itemPanel_5 .container_2{
    position: absolute;

}
#itemPanel_5 .container_1{
    width:60%;
    height:100%;
    top:0;
}
#itemPanel_5 .container_1 .itemContainer{
    /*width:60%;*/
    height:380px;
    top:50%;
    margin-top:-190px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    /*margin:0 auto;*/
}
#itemPanel_5 .container_1 .itemContainer div:first-child p:first-child{
    font-size:49.37px;
    margin:0;
}
#itemPanel_5 .container_1 .itemContainer div:first-child p:last-child{
    font-size:157px;
    margin:0;
}
#itemPanel_5 .container_1 .itemContainer div:last-child {
    font-size: 21.91px;
    margin-top:20px;
}
#itemPanel_5 .container_2{
    /*float: right;*/
    width:40%;
    background-color: #FFFFFF;
    height:100%;
    top:0;
    right:0;
    padding-top:5%;
}
#itemPanel_5 .container_2 .itemContainer_2 div{
    max-height:300px;
    position: relative;
    top:20%;
    /*margin-top:-172px;*/
    padding:0 18%;
    text-align: center;
}
#itemPanel_5 .container_2 .itemContainer_2 div:first-child p{
    font-size:30px;
    font-family:微软雅黑;
    font-weight:bold;

}
#itemPanel_5 .container_2 .itemContainer_2 .middleText{
    text-align: left;
    font-size:12px;
    color: rgb(186,186,186);
    width:90%;
    padding:0;
    margin:0 auto;
    overflow: hidden;
}
#itemPanel_5 .container_2 .itemContainer_2 div p:first-child a{
    color: red;
}
#itemPanel_5 .container_2 .itemContainer_2 div:last-child button{
    background-color: #FFFFFF;
    border:1px solid red;
    color: red;
    width:110px;
    height:35px;
    margin-top:5%;
}