[class*='col-md-']{
    border:1px solid #999;
    background-color: #eee;
    height:50px;
    /*margin-right:20px;*/
    float: left;
    text-align: center;
}
.container .row{
    clear: both;
}
.container .row .col-md-1{
    width:8%;
}
.container .row .col-md-2{
    width:16%;
}
.container .row .col-md-3{
    width:24%;
}
.container .row .col-md-4{
    width:32%;
}
.container .row .col-md-5{
    width:40%;
}
.container .row .col-md-6{
    width:48%;
}
.container .row .col-md-7{
    width:56%;
}
.container .row .col-md-8{
    width:64%;
}
.container .row .col-md-9{
    width:72%;
}
.container .row .col-md-10{
    width:80%;
}
.container .row .col-md-11{
    width:88%;
}
.container .row .col-md-12{
    width:96%;
}