body{
    margin:0;
    padding:0 0;

}
#mainContainer{
    width:100%;
    height:1000px;
    background-color: #72b16a;
}
#mainContainer .fatherContainer{
    width:100%;
    /*height:300px;*/
    /*background-color: #8B0000;*/
}
#headBar{
    background: #FFFFFF;
    overflow: hidden;
    width:30%;
}
#headBar #icon{
    height:55px;
    margin-left:30px;
    float: left;
    line-height:55px;
}
#headBar #icon img{
    float: left;
    position: relative;
    top: 50%;
    margin-top: -20px;
}
#headBar #icon p{
    margin:0;
    font-size:21px;
    font-family: 黑体;
    margin-left:45px;
    margin-top:5px;
    /*margin-top:5px;*/
    /*line-height:40px;*/
}
#link{
    float: right;
    /*width:70%;*/
    margin-right:40px;
    height:55px;
}
#link ul{
    list-style: none;
    width:100%;
    height:100%;
    margin:0;
}
#link ul li{
    /*width:70px;*/

    width: 70px;
    float: left;
    margin-right: 30px;
    height: 51px;
    line-height: 55px;
    text-align: center;
}
.chosed{
    border: 4px solid rgb(230,78,80);
    border-top: none;
    border-left:none;
    border-right:none;
}

.linkBtn:focus,.linkBtn:hover{
    border: 4px solid rgb(230,78,80);
    border-top: none;
    border-left:none;
    border-right:none;
    color: rgb(230,78,80);
}
.linkBtn{
    text-decoration: none;
    font-size:14px;
    font-family:微软雅黑;
    height: 51px;
    display: block;
    color: #000;
}
.chosed a{
     color: rgb(230,78,80);
 }
#loginBtn img{
    width: 18px;
    float: left;
    position: relative;
    margin-top: -11px;
    top: 50%;
    margin-left:5px;
}
#loginBtn a{
    font-weight:bold;
    color: rgb(230,78,80);
    text-align: center;
    text-decoration: none;
}