#itemPanel{
    height:320px;
    display: inline-block;
    padding-top:30px;
}
#itemPanel p{
    font-size:14px;
    font-family:黑体;
    width:165px;
    margin:0 auto;
}
#itemPanel .container{
    text-align: center;
    width:25%;
    float: left;
    /*margin-top:30px;*/
}
#itemPanel .container div{
    text-align: center;
    border:1px solid black;
    border-left:none;
    border-top:none;
    border-bottom:none;
    margin-top:35px;
    height:50px;
}
#itemPanel .container:last-child div{
    border-right: none;
}